@model List<Aparat>
@{
	ViewData["Title"] = "Index";
	int count = 1;
}

<div class="d-flex justify-content-end mb-2">
	<a class="btn btn-success text-light" asp-area="Admin" asp-controller="Aparat" asp-action="Create">Create Member</a>
</div>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>
								N
							</th>
							<th>
								Tarix
							</th>
							<th>
							   Ad
							</th>
							<th>
							  Metn
							</th>
							<th>
							  Şəkil
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (Aparat aparat in Model)
						{
						   <tr>
							   <td>@count</td>
								   <td>@aparat.DateTime</td>
								   <td>@aparat.Title</td>
								   <td>@aparat.Description</td>
							   <td><img src="~/assets/imgs/@aparat.ImagePath" style="height:150px; width:150px;" alt="News Image" /></td>
									   <td>@aparat.FullName</td>

							   <td>
								   <button class="btn btn-warning text-light m-3" asp-area="Admin" asp-controller="Aparat" asp-action="Update" asp-route-Id="@aparat.Id">
											Redakte et										
										</button>
								   <button class="btn btn-danger text-light m-3" asp-area="Admin" asp-controller="Aparat" asp-action="Delete" asp-route-Id="@aparat.Id">
								  Sil
							</button>
						</td> 
						   </tr>
							count++;
						}


					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>