@model List<News>
@{
	ViewData["Title"] = "Index";
	int count = 1;
}

<div class="d-flex justify-content-end mb-2">
	<a class="btn btn-success text-light" asp-area="Admin" asp-controller="News" asp-action="Create">Create Member</a>
</div>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
				<<table class="table table-striped">
					<thead>
						<tr>
							<th>
								N
							</th>
							<th>Tarix</th>
							<th> Başlıq</th>
							<th> Metn</th>
							<th>Şekil</th>
						</tr>
					</thead>
							@foreach (News news in Model)
							{
							   <tr>
								   <td>@count</td>
								   <td>@news.DateTime</td>
								   <td>@news.Title</td>
								   <td>@news.Description</td>
								   <td>
									   <img src="~/assets/imgs/@news.NewsImages.FirstOrDefault(s=>s.IsActive).Path" style="height:140px; width:140px;" alt="News Image" />
								   </td>
									<td>
									   <a class="btn btn-warning text-light m-3" asp-area="Admin" asp-controller="News" asp-action="Update" asp-route-Id="@news.Id" style="font-size:16px">
										Redakte et
									   </a>

									  @*  <a class="btn btn-danger text-light" asp-area="Admin" asp-controller="News" asp-action="Delete" asp-route-Id="@news.Id">
										   <i class="mdi mdi-delete-forever"></i>
									   </a> *@
										<a asp-area="Admin" asp-controller="News" asp-action="Delete" asp-route-id="@news.Id" class="btn btn-danger text-light m-3">Sil</a>
									 </td> 
							   </tr>
										count++;
							}
			

				</table>
			</div>
		</div>
	</div>
</div>